**Task 4 - Online Delivery**

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('Dataset2 .csv')
df

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,5701052,Applebee's,214,Abu Dhabi,"Level 3, Mushrif Mall, Al Mushrif, Abu Dhabi","Mushrif Mall, Al Mushrif","Mushrif Mall, Al Mushrif, Abu Dhabi",54.413141,24.434099,"American, Mexican, Seafood",...,Emirati Diram(AED),No,Yes,No,No,4,4.0,Green,Very Good,205
1,5701548,Bait El Khetyar,214,Abu Dhabi,"Al Najda Street, Najda, Abu Dhabi",Najda,"Najda, Abu Dhabi",54.371434,24.488411,"Lebanese, Arabian, Middle Eastern",...,Emirati Diram(AED),No,Yes,No,No,2,4.0,Green,Very Good,380
2,5700052,Cho Gao - Crowne Plaza Abu Dhabi,214,Abu Dhabi,"Crowne Plaza Abu Dhabi, Sheikh Hamdan Bin Moha...","Crowne Plaza Abu Dhabi, Al Markaziya","Crowne Plaza Abu Dhabi, Al Markaziya, Abu Dhabi",54.365694,24.491235,"Thai, Japanese, Chinese, Indonesian, Vietnamese",...,Emirati Diram(AED),Yes,Yes,No,No,4,4.4,Green,Very Good,246
3,18212135,Denny's,214,Abu Dhabi,"Abu Dhabi Mall, Tourist Club Area (Al Zahiyah)...","Abu Dhabi Mall, Tourist Club Area (Al Zahiyah)","Abu Dhabi Mall, Tourist Club Area (Al Zahiyah...",54.382797,24.495503,American,...,Emirati Diram(AED),No,No,No,No,4,4.6,Dark Green,Excellent,207
4,5704255,Famous Dave's Barbecue,214,Abu Dhabi,"Near The One, Level 3, Abu Dhabi Mall, Tourist...","Abu Dhabi Mall, Tourist Club Area (Al Zahiyah)","Abu Dhabi Mall, Tourist Club Area (Al Zahiyah...",54.382946,24.495693,American,...,Emirati Diram(AED),No,Yes,No,No,4,4.6,Dark Green,Excellent,376
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9546,7100788,The Crab Shack,148,Wellington City,"15 Jervois Quay, Queens Wharf, Wellington Cent...",Wellington Central,"Wellington Central, Wellington City",174.779167,-41.284833,"Seafood, Kiwi",...,NewZealand($),No,No,No,No,4,4.1,Green,Very Good,229
9547,7101042,The Hangar,148,Wellington City,"171-177 Willis Street, Te Aro, Wellington City",Te Aro,"Te Aro, Wellington City",174.773933,-41.290801,Cafe,...,NewZealand($),No,No,No,No,3,4.6,Dark Green,Excellent,171
9548,7100938,wagamama,148,Wellington City,"33 Customhouse Quay, Wellington Central, Welli...",Wellington Central,"Wellington Central, Wellington City",174.779224,-41.283034,"Japanese, Asian",...,NewZealand($),No,No,No,No,4,3.7,Yellow,Good,131
9549,17559793,Fishpatrick's Crabby Cafe,216,Winchester Bay,"196 Bayfront Loop, Winchester Bay, OR 97467",Winchester Bay,"Winchester Bay, Winchester Bay",-124.175346,43.678998,"Burger, Seafood, Steak",...,Dollar($),No,No,No,No,2,3.2,Orange,Average,16
9550,16668008,Arigato Sushi,37,Yorkton,"14 Second Ave North, Yorkton, SK S3N 1G1",Yorkton,"Yorkton, Yorkton",-102.461317,51.210682,Asian,...,Dollar($),No,No,No,No,2,3.3,Orange,Average,26

**Determine the percentage of restaurants that offer online delivery**

In [7]:
kpi = df[['Restaurant Name', 'Has Online delivery']]
kpi

                       Restaurant Name Has Online delivery
0                           Applebee's                 Yes
1                      Bait El Khetyar                 Yes
2     Cho Gao - Crowne Plaza Abu Dhabi                 Yes
3                              Denny's                  No
4               Famous Dave's Barbecue                 Yes
...                                ...                 ...
9546                    The Crab Shack                  No
9547                        The Hangar                  No
9548                          wagamama                  No
9549         Fishpatrick's Crabby Cafe                  No
9550                     Arigato Sushi                  No

[9551 rows x 2 columns]

In [9]:
online_count =len(kpi[kpi['Has Online delivery'] =="Yes"])
total_restaurants = len(kpi)
 
online_percentage = (online_count / total_restaurants) * 100
print(f"Percentage of restaurants ofering online delivery: {online_percentage:.2f}%.")

Percentage of restaurants ofering online delivery: 25.66%.

**Compare the average ratings of restaurants with and without online delivery**

In [12]:
kpi = df[['Restaurant Name', 'Has Online delivery', 'Aggregate rating']]
kpi

                       Restaurant Name Has Online delivery  Aggregate rating
0                           Applebee's                 Yes               4.0
1                      Bait El Khetyar                 Yes               4.0
2     Cho Gao - Crowne Plaza Abu Dhabi                 Yes               4.4
3                              Denny's                  No               4.6
4               Famous Dave's Barbecue                 Yes               4.6
...                                ...                 ...               ...
9546                    The Crab Shack                  No               4.1
9547                        The Hangar                  No               4.6
9548                          wagamama                  No               3.7
9549         Fishpatrick's Crabby Cafe                  No               3.2
9550                     Arigato Sushi                  No               3.3

[9551 rows x 3 columns]

In [14]:
kpi["Aggregate rating"] = pd.to_numeric(kpi["Aggregate rating"], errors = "coerce")

avg_with_delivery = kpi[kpi["Has Online delivery"] == "Yes"]["Aggregate rating"].mean()
avg_without_delivery = kpi[kpi["Has Online delivery"] == "No"]["Aggregate rating"].mean()

print(f"Average rating (with online delivery) : {avg_with_delivery :.2f}")
print(f"Average rating (without online delivery) : {avg_without_delivery :.2f}")

Average rating (with online delivery) : 3.25
Average rating (without online delivery) : 2.47

C:\Users\pc\AppData\Local\Temp\ipykernel_10192\2694938661.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kpi["Aggregate rating"] = pd.to_numeric(kpi["Aggregate rating"], errors = "coerce")